<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>gr.polyptychon.sync.public</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/bin/rsync</string>
            <string>--delete</string>
            <string>--archive</string>
            <string>/Users/harrissidiropoulos/Public/</string>
            <string>/Volumes/POLYPTYCHON/Sidiropoulos/Public/</string>
        </array>
        <key>WatchPaths</key>
        <array>
            <string>/Users/harrissidiropoulos/Public/</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>StartInterval</key>
        <integer>3600</integer>
    </dict>
</plist>
